---

import Layout from "../layouts/Layout.astro";
import { NavBar } from "../components/NavBar";
---

<Layout title="Salam App">
<div>

  <NavBar/>
</div>
</Layout>

<style>
  html {
    scroll-behavior: smooth;

  }
  
  
</style>