---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { NavBar } from "../components/NavBar";
import { Hero } from "../components/Hero";
import { Tafsir } from "../components/Tafsir";
---

<Layout title="">
  <div>
    <NavBar client:load />
    <Hero/>
    <Tafsir client:load />
  </div>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
