---
// import Footer from "@components/Footer.astro";
// import { NavBar } from "../solid/Navbar.jsx";

export interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <title>Tafsir of the Quran</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <body class="bg-grey-500">
    <!-- <NavBar client:load />
    <Footer /> -->
    <slot />
  </body>
</html>
