---
export interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <title>Tafsir of the Quran</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <body class="bg-grey-500">
    <slot />
  </body>
</html>
